/* THIS CSS IS FOR THE HOBBIES */


.Header {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(29, 0, 125);
    background-color: rgb(209, 141, 134);
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    
    };

    

    body {
        background-color: powderblue;
      }
      h1 {
        color: blue;
      }
      p {
        font-family:       monospace;
        font-size:         50px;
        color:           rgb(29, 0, 125);
        border-style:      solid;
        margin-top:        100px;
        margin-right:      1000px;
        margin-left:       20px;
        text-align:        center;
        border-width:      5px;
        border-right-width: 10px;
        background-color: rgb(209, 141, 134);
        box-shadow: 10px 10px;
      }

      ul {
        background:  rgb(209, 141, 134);
        padding:       20px;
        border-style:  solid;
        border-width:  5px;
        border-color: rgb(29, 0, 125);
        font-family: monospace;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 65%;
      }

      ul li {
        background: rgb(255, 255, 255);
        color: darkblue;
        margin: 5px;
      }
      .p2 {
        font-family:       monospace;
        font-size:         50px;
        color:           rgb(29, 0, 125);
        border-style:      solid;
        margin-right:      20px;
        margin-left:       1000px;
        text-align:        center;
        border-width:      5px;
        border-right-width: 10px;
        background-color: aqua  ;
        box-shadow: 10px 10px;
      }

      .ul2 {
        background:  aqua;
        padding:       20px;
        border-style:  solid;
        border-width:  5px;
        border-color: rgb(29, 0, 125);
        font-family: monospace;
        font-size: 20px;
        margin-left: 1000px;
        margin-right: 20px;
      }

      .image {

        width: 320px;
        height: 250px;
        margin: 10px;
        margin-left: 100px;
        margin-bottom: 10px;
        display: block;
        border-style: solid;
        border-radius: 30px;
        border-width: 5px;
        border-color: salmon;
        box-shadow: 10px 10px rgb(29, 0, 125);
        float: left;
  
        }

        div.gallery {
          margin: 5px;
          font-family: monospace;
          border-style: solid;
          border-color: rgb(29, 0, 125);
          border-width: 5px;
          float: left;
          width: 500px;
          margin-left: 100px;
          margin-bottom: 50px;
          background-color: rgb(209, 141, 134);
          
        }
        
        div.gallery:hover {
          border: 5px solid rgb(209, 141, 134);
        }
        
        div.gallery img {
          width: 500px;
          height: 300px;
        }
        
        div.desc {
          padding: 10px;
          text-align: center;
        }

